[submodule "examples/arduino/digitalio"]
  path = examples/arduino/digitalio
  url = git@github.com:fabiantheblind/digitalio.git
[submodule "examples/arduino/analogio"]
  path = examples/arduino/analogio
  url = git@github.com:fabiantheblind/analogio.git
