[submodule "examples/processing/eyetracker-data/tobii_eyetracker_csv_reading"]
	path = examples/processing/eyetracker-data/tobii_eyetracker_csv_reading
	url = git@github.com:FH-Potsdam/tobii_eytracker_csv_reading.git
